html
  head
    title='cddemo'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 hello continous delivery!!!
        h5 the automated workflow is github => circleci => dockerhub => tutum => azure